<div>
    <div class="d-flex align-items-center">
        <h1 class="text-white">{{content.type}}</h1>
        <button class="flex-1 border-0 bg-color1 p-2 rounded-circle d-flex justify-content-center align-items-center m-1" (click)="addEdit(false)">
           <i class="text-white" nz-icon nzType="plus" nzTheme="outline"></i>
        </button>

    </div>

    <div class="row flex-column-reverse flex-md-row">

        <div class="col-12 col-md-6 content overflow-auto"> 

            <div>
                <label class="col-12 text-white">Buscar</label>
                <input (keyup)="search($event)" class="mt-1 input pl-3 pr-3 pt-1 pb-1" type="search">
            </div>
            
            <nz-list class="mt-3" nzBordered>
                <nz-list-item *ngFor="let item of content.data">
                    <div (click)="openView(item)" class="cursor text-white">{{ item['Nombre De La Liga'] || item['Nombre del equipo'] || item['Nombre del Jugador'] }}</div>                 
                </nz-list-item>
            </nz-list>
        </div>

        <div class="col-12 col-md-6 view">
           <div *ngIf="this.currentItem" class="d-flex justify-content-center align-items-center flex-column mt-0 mt-md-5" >
                <img class="img-avatar" [src]="currentItem['Logo de la Liga'] || currentItem['Logo del Equipo'] || currentItem['Avatar']">
                <h1 class="text-white">{{ currentItem['Nombre De La Liga'] || currentItem['Nombre del equipo'] || currentItem['Nombre del Jugador'] }}</h1>
                <div>
                    <button (click)="addEdit(true)" class="button1 p-2 m-3">Editar</button>
                    <button 
                    class="button1 bg-danger p-2 m-3"
                    nz-popconfirm
                    nzPopconfirmTitle="Está seguro?"
                    nzOkText="Eliminar"
                    nzCancelText="cancel"
                    (nzOnConfirm)="delete()"
                    >Eliminar</button>
                </div>
           </div>
        </div>
    </div>
    
</div>



<nz-modal nzClassName="bg-color1" [(nzVisible)]="isVisible" [nzTitle]="editItem?'Editar ':'Agregar ' + content.type" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        
        <ng-container [ngSwitch]="content.type">
            <div *ngSwitchCase="'Ligas'">
                <div class="d-flex flex-column">
                    <label>Nombre</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Nombre De La Liga']" >
                </div>
                <div class="d-flex flex-column">
                    <label>Logo</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Logo de la Liga']">
                </div>                
            </div>
            <div *ngSwitchCase="'Equipos'">
                <div class="d-flex flex-column">
                    <label>Nombre</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Nombre del equipo']">
                </div>
                <div class="d-flex flex-column">
                    <label>Liga</label>
                    <select class="input p-2 mt-2" [(ngModel)]="form['Liga']">
                        <option class="bg-color1" *ngFor="let league of leagues" value="{{league.id}}">{{league['Nombre De La Liga']}}</option>
                    </select>
                </div>
                <div class="d-flex flex-column">
                    <label>Logo del Equipo</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Logo de la Liga']">
                </div>
            </div>
            <div *ngSwitchCase="'Jugadores'">
                <div class="d-flex flex-column">
                    <label>Nombre</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Nombre del jugador']">
                </div>
                <div class="d-flex flex-column">
                    <label>Equipo</label>
                    <select class="input p-2 mt-2" [(ngModel)]="form['teamId']">
                        <option class="bg-color1"  *ngFor="let team of teams" value="{{team.id}}">{{team['Nombre del equipo']}}</option>
                    </select>
                </div>
                <div class="d-flex flex-column">
                    <label>Avatar</label>
                    <input class="input p-2 mt-2" type="text" [(ngModel)]="form['Avatar']">
                </div>               
            </div>
        </ng-container>


    </div>
    <div *nzModalFooter>
        <button class="button2 m-2 p-2" (click)="handleCancel()">Cancelar</button>
        <button class="button1 m-2 p-2" (click)="handleOk()">{{editItem?'Editar ':'Agregar '}}</button>
    </div>
</nz-modal>
