@use "sass:map";
@import './../../../../../../../styles/variables';

.img-avatar{
    max-width: 400px;
}
.content{
    max-height: 300px;  
    &::-webkit-scrollbar-track {
      width: 10px;   
    }    
    &::-webkit-scrollbar {
        width: 10px;     
        height: 10px;   
    }   
    &::-webkit-scrollbar-thumb {
        background: map.get($color, color1);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #837e7e;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }    
    &::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
      background: #d4d4d4;
    }
 
}



.modal-add-edit{
    background-color: map.get($color, color4);
}


@media screen and (max-width: 1024px) {
    .content{
        max-height: 200px;  
    }
    .img-avatar{
        max-width: 100px;
    }
}


