@use "sass:map";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
  font-family: 'Lato';
  transition: all .3s;
}

@for $i from 1 through 4 {
  .bg-color#{$i} {
    background-color: map.get($color, color+$i);
  }
}

@for $i from 1 through 4 {
  .text-color#{$i} {
    color: map.get($color, color+$i);
  }
}

@for $i from 1 through 9 {
  .font-#{$i*100} {
    font-weight: $i*100;
  }
}

@for $i from 1 through 100 {
  .f-#{$i} {
    font-size: $i+pt;
  }
}

.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cursor{
  cursor:pointer;
}

.show{
    animation-duration: .500s;
    animation-name: show;
    animation-fill-mode: forwards;
}

.hide{
    animation-duration: .10000s;
    animation-name: hide;
    animation-fill-mode: forwards;
}

.input{
  border: solid 2px white;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;
  outline: none;
}

.button1{
  background-color: map.get($color, color1);
  border: none;
  color: white;
}

.button1:hover{
  background-color: map.get($color, color3);
  border: none;
  color: white;
}

.button2{
  background-color: #999999;
  border: none;
  color: white;
  opacity: 1;
}

.button2:hover{
  opacity: .9;
}

.ant-modal .ant-modal-content, .ant-modal-header{
     background-color: map.get($color, color1) !important;
     *{
       color: white !important;
     } 
}

@keyframes show {
  0% { opacity: 0 }  
  100% { opacity: 1 }
}

@keyframes hide {
  0% { opacity: 1 }  
  100% { opacity: 0 }
}