nz-carousel{
    
    min-height: 80vh;
    max-height: 80vh;

}


// .slide{
//     min-height: 80vh;
//     max-height: 80vh;
// }

@media (max-width: 1024px) {
    .slide{
        min-height: 60vh;
        max-height: 60vh;
    }
}