<div class="p-0 pt-5 m-0">
    <nz-carousel nzAutoPlay>
        <div class="slide image" nz-carousel-content *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url('+slide+')'}"></div>
    </nz-carousel>
</div>