
<div class="pt-2 bg-color1 tabs vw-100 d-flex justify-content-center">

    <div *ngIf="isVisibleContent" class="content-tab bg-color3 p-4 p-md-5 show">
        <div class="w-100 d-flex justify-content-end">
            <i (click)="closeInfo()" class="f-18 cursor text-color4" nz-icon nzType="close" nzTheme="outline"></i>
        </div>
        <div *ngIf="isLoad" class="load d-flex justify-content-center align-items-center pt-5">
            <nz-spin nzSimple></nz-spin>
        </div>
        <app-content (eventsContent)="eventsContent($event)" *ngIf="!isLoad" [content]="currentContent"></app-content>
    </div>
    
    <ul class="list d-flex justify-content-center align-items-center list-unstyled">
        <li class="item-list cursor text-uppercase m-3 text-color4 font-900 flex-column d-flex justify-content-center align-items-center pt-2" *ngFor="let tab of tabs" (click)="openInfo(tab)">
            <label class="cursor">{{tab}}</label>
            <div class="line bg-color4"></div>
        </li>
    </ul>
</div>
