.tabs{
    position: relative !important;
    .content-tab{
        position: absolute;
        min-width: 80vw;
        min-height: 60vh;
        bottom: 90px;
    }
    .item-list{
        .line{
            min-width:0;
            min-height: 3px;
        }
    }
    .item-list:hover .line{
        animation-duration: .500s;
        animation-name: showLine;
        animation-fill-mode: forwards;
    }
    .item-list:not( :hover ) .line{
        animation-duration: .500s;
        animation-name: hideLine;
        animation-fill-mode: forwards;
    }
    
}


@keyframes showLine {
  0% { min-width: 0 }  
  100% { min-width: 100% }
}

@keyframes hideLine {
  0% { min-width: 100% }  
  100% { min-width: 0 }
}

@media screen and (max-width: 1024px) {
    .tabs{       
        .content-tab{            
            min-width: 100vw;
            min-height: 50vh;
            bottom: 90px;
        } 
    }

}
